@import url("plan-card.css");
@import url("navbar.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Inter");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background-color: #fff;
  overflow: hidden;
}
