@import url("insurance.css");
@import url("menu.css");
@import url("plan-card.css");
@import url("retirement.css");
@import url("insurance-list.css");
@import url("insurance-type.css");
@import url("insurance-filter.css");
@import url("search-insurance.css");
@import url("label.css");
@import url("header.css");
@import url("billing.css");
@import url("signup-container.css");
@import url("profile-summary-widget.css");
@import url("dashboard.css");
@import url("insurance-profile-section.css");
@import url("retirement-profile-section.css");

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter;
  background-color: #fff;
}
