.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  line-height: 15px;
  text-align: center;
  height: 35px;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #1297AC;
  color: #1297AC;
  box-shadow: 0 0 0 transparent;
  outline: none;
  transition: all 200ms ease;
  font-size: 14px;
  font-weight: bold;
}

.button__header {
  align-self: center;
  width: 200px;
}

.button_aquamarine {
  color: rgba(75, 192, 192, 0.7);
  border: 1px solid rgba(75, 192, 192, 0.7);
}

.button_salmon {
  color: salmon;
  border: 1px solid salmon;
}
