.progress-bar {
  display: block;
  width: 100%;
  position: fixed; /* This will make it stick to the top */
  top: 0;
  left: 0;
  height: 5px;  /* Adjust height as required */
  border: none;
  color: #1297AC; /* The color of the progress bar */
  background-color: #fff;
}

progress::-webkit-progress-bar {
  background-color: white; /* This will set the background (unfinished part) to white */
}

progress::-webkit-progress-value {
  background-color: #1297AC; /* Color for the filled part */
}

.employee-info-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.employee-info-container__header {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-left: 20px;
}

.employee-info-container__fields {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.employee-info-container__body {
  margin-bottom: 100px;
}

.employee-info-container__field-label {
  font-size: 17px;
  font-weight: 500;
  line-height: 110%;
}

.employee-info-container__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}

.employee-info-container__footer-next-button,
.employee-info-container__footer-back-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 110%;
  cursor: pointer;
}
.employee-info-container__footer-next-button {
  background-color: #1297AC;
  color: #fff;
}

.employee-info-container__footer-back-button {
  background-color: #F5F6FA;
  color: #404040;
}

.employee-info-container__field-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.employee-info__checkbox {
  cursor: pointer;
  width: 20px;
  border-radius: 3px;
  height: 20px;
}
