.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(227, 227, 227, 0.25);
}

.header__is-sticky {
  position: fixed;
  top: 0;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  background-color: #F5F6FA;
  border-radius: 50%;

  margin-bottom: 12px;

  cursor: pointer;
}

.back-button-img {
  width: 25px;
  height: 25px;
}

.header__title {
  color: #1d1e20;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  /* letter-spacing: -0.21px; */
  margin-top: auto;
}

.header__icon {
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.icon-and-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
