.insurance-page {
  padding: 16px;

  /* remove when navbar is fixed */
  margin-top: 44px;
}

.insurance-page__title {
  color: #1D1E20;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
}
