.insurance-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 200px;
  height: 180px;

  box-sizing: border-box;

  padding: 8px;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 15px;
  color: #1D1E20;
  box-shadow: 0 6px 8px 0 #EAEAEA;
}

.insurance-type__label-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.insurance-type__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.insurance-add-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  height: 180px;
  border-radius: 10px;
  border: 1px dashed #1297AC;
}

.insurance-add-type_icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: #F5F6FA;
}

.insurance-type__text {
  margin: 0;
  margin-top: 8px;
}

.insurance-type__add-text {
  font-size: 15px;
  margin: 0;
  margin-top: 12px;
}
