.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;

  background-color: #404040;
}

.insurance-filter-item {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 48%;
  color: #FFFFFF;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.insurance-filter-item__active {
  color: #404040;
  background-color: #FFFFFF;
}
