.label {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 15px;
  width: fit-content;

  padding: 0 6px;
  color: #FFFFFF;
  font-size: 11px;
  border-radius: 4px;
  text-transform: uppercase;
}

.label__text {
  margin: 0;
}

.label-color-blue {
  color: #1297AC;
  border: 1px solid #1297AC;
}

.label-color-purple {
  color: #9747FF;
  border: 1px solid #9747FF;
}

.label-color-green {
  color: #28AC12;
  border: 1px solid #28AC12;
}
