<div class="dependents">
  <DependentCard
    @name="Jane Doe"
    @acr="JD"
    @rel="Wife"
    @dob="01/01/1970"
    @plans="3"
  />
  <DependentCard
    @name="Sam Doe"
    @rel="Son"
    @acr="SD"
    @dob="01/01/2001"
    @color="salmon"
    @plans="1"
  />
  <DependentCard
    @name="Rob Doe"
    @acr="RD"
    @rel="Son"
    @dob="01/01/2002"
    @color="light-blue"
    @plans="1"
  />
  <DependentCard
    @name="Marry Doe"
    @acr="MD"
    @rel="Daughter"
    @dob="01/01/2002"
    @color="red"
    @plans="1"
  />
  <DependentCard
    @name="Thomas Doe"
    @acr="TD"
    @rel="Son"
    @dob="01/01/1970"
    @color="green"
    @plans="1"
  />
</div>