<div class="plan-card">
  <div class="plan-card__photo">
    <img src="assets/medical-plan.svg" alt="medical plan" />
  </div>
  <div class="plan-card__title">
    <div class="plan-card__title-plan-name">Plan Name</div>
    <div class="plan-card__title-vendor-name">Vendor Name</div>
  </div>
  <div class="plan-card__field plan-card__field-deductible">
    <div class="plan-card__field-label">deductible</div>
    <div class="plan-card__field-value">100$</div>
  </div>
  <div class="plan-card__field plan-card__field-coinsurance">
    <div class="plan-card__field-label">coinsurance</div>
    <div class="plan-card__field-value">100$</div>
  </div>
  <div class="plan-card__field plan-card__field-plan-network">
    <div class="plan-card__field-label">plan network</div>
    <div class="plan-card__field-value">100$</div>
  </div>

  <button type="button" class="plan-card__button">
    Button
  </button>
</div>
