<div class="retirement-profile-section">
  <div class="retirement-profile-section__header">
    <div class="retirement-profile-section__header-title">
      My 401(K)
    </div>
    <LinkTo @route="index.retirement" class="retirement-profile-section__header-view-all">
      View More
    </LinkTo>
  </div>
  <Charts::DoughnutChart />
</div>