<div
  class="
    insurance-filter-item
    {{if @category.isActive "insurance-filter-item__active"}}
  "
  {{on "click" (fn @changeActiveCategory @category.key)}}
>
  <p class="insurance-filter-item__text">{{@category.label}}</p>
</div>