<div class="filter-toggle">
  {{#each @categories as |category|}}
    <Insurance::Filter::Item
      @category={{category}}
      @changeActiveCategory={{@changeActiveCategory}}
    />
  {{/each}}
</div>