<div class="insurance-type">
  <div class="insurance-type__label-container">
    <Insurance::Label @isCore={{@isCore}} />
  </div>
  <div class="insurance-type__info">
    <img class="" src="/assets/icons/{{@imgSrc}}" />
    <p class="insurance-type__text">{{@label}}</p>
  </div>
</div>