<div class="retirement__card">
  <h2>Balance Over Time</h2>
  <div
    class="retirement__chart"
    {{did-insert this.setupChart}}
  >
    <canvas
      id="investment-chart"
      width="400"
      height="400"
      style="width: 400px; height: 400px;"
    ></canvas>
  </div>
</div>