<div class="retirement__card">
  <h2>401(k) Accounts Balance Over Time</h2>
  <div
    {{did-insert this.setupChart}}
  >
    <canvas
      id="investment-chart"
      width="400"
      height="400"
      style="width: 400px; height: 400px;"
    ></canvas>
  </div>
</div>