  <div class="billing__invoice-summary">

    <div class="invoice-summary__header">
      <div class="invoice-summary__title">
        <div class="invoice-summary__name">Invoice Summary</div>
        <div class="invoice-summary__date">16/05/2023</div>
      </div>
      <div class="invoice-summary__id">#934539</div>
    </div>

    <div class="invoice-summary__table">
      <div class="invoice-summary__table-header">
        <div class="invoice-summary__table-header-item">PRODUCT</div>
        <div class="invoice-summary__table-header-item">BILL DATE</div>
        <div class="invoice-summary__table-header-item">AMOUNT DUE</div>
      </div>
      <div class="invoice-summary__table-row">
        <div class="invoice-summary__table-row-item">Medical</div>
        <div class="invoice-summary__table-row-item">01/03/2023</div>
        <div class="invoice-summary__table-row-item">$3,478.0</div>
      </div>
      <div class="invoice-summary__table-row">
        <div class="invoice-summary__table-row-item">Pet</div>
        <div class="invoice-summary__table-row-item">01/03/2023</div>
        <div class="invoice-summary__table-row-item">$178.0</div>
      </div>
      <div class="invoice-summary__table-row">
        <div class="invoice-summary__table-row-item">Travel</div>
        <div class="invoice-summary__table-row-item">01/03/2023</div>
        <div class="invoice-summary__table-row-item">$78.0</div>
      </div>
      <div class="invoice-summary__table-row">
        <div class="invoice-summary__table-row-item">Auto</div>
        <div class="invoice-summary__table-row-item">01/03/2023</div>
        <div class="invoice-summary__table-row-item">$530.0</div>
      </div>
      <div class="invoice-summary__table-total-row">
        <div class="invoice-summary__table-total-title">total</div>
        <div class="invoice-summary__table-row-item">$4,266.0</div>
      </div>
    </div>

    <div class="invoice-summary__buttons">
      <a class="invoice-summary__button invoice-summary__button_color-red">DISCARD BILL</a>
      <a class="invoice-summary__button">PAY NOW</a>
    </div>

  </div>