<div class="insurance-list">
  {{#each this.insurances as |insurance|}}
    <Insurance::CategoryCard::Main
      @isCore={{insurance.isCore}}
      @imgSrc={{insurance.imgSrc}}
      @label={{insurance.label}}
    />
  {{/each}}
  {{!-- <Insurance::CategoryCard::Add /> --}}
</div>