<div class="insurance-list">
  {{#each this.insurances as |insurance|}}
    <Insurance::CategoryCard::Main
      @isCore={{insurance.isCore}}
      @label={{insurance.label}}
    />
  {{/each}}
  <Insurance::CategoryCard::Add />
</div>