<div class="insurance-list">
  {{#each @insurances as |insurance|}}
    <Insurance::CategoryCard::Main
      @insurance={{insurance}}
    />
  {{/each}}
  {{!-- <Insurance::CategoryCard::Add /> --}}
</div>