<div class="employee-info-container__fields">
  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Organization Name
    </div>
    <InputField />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Industry Type
    </div>
    <InputField />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Email
    </div>
    <InputField @type="email" @placeholder="organization@organization.com" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Phone
    </div>
    <InputField @type="tel" @placeholder="(206) 342-8631" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Country
    </div>
    <InputField @placeholder="USA" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Address
    </div>
    <InputField @placeholder="3549 New Street" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      City
    </div>
    <InputField @placeholder="Eugene" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      State
    </div>
    <InputField @placeholder="OR" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Zip
    </div>
    <InputField @placeholder="1241212" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Occupation
    </div>
    <InputField @placeholder="Software Engineering" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Hire Date
    </div>
    <InputField @type="date" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Annual Salary
    </div>
    <InputField @placeholder="$ 80,000.00" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Salary Start Date
    </div>
    <InputField @type="date" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Class
    </div>
    <InputField @type="date" />
  </div>
</div>
