<div class="employee-info-container__fields">
  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Organization Name
    </div>
    <InputField />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Industry Type
    </div>
    <InputField />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Email
    </div>
    <InputField @placeholder="Single" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Phone
    </div>
    <InputField @type="tel" @placeholder="(206) 342-8631" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Email
    </div>
    <InputField @type="email" @placeholder="johndoe@organization.com" />
  </div>
  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Phone
    </div>
    <InputField @type="tel" @placeholder="(206) 342-8631" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Country
    </div>
    <InputField @placeholder="USA" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Address
    </div>
    <InputField @placeholder="3549 New Street" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      City
    </div>
    <InputField @placeholder="Eugene" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      State
    </div>
    <InputField @placeholder="OR" />
  </div>

  <div class="employee-info-container__field">
    <div class="employee-info-container__field-label">
      Zip
    </div>
    <InputField @placeholder="Eugene" />
  </div>
</div>