<div class="navbar">
  <input class="navbar__checkbox" type="checkbox" id="menu-toggle"/>
  <label class="navbar__trigger" id="trigger" for="menu-toggle"></label>
  <label class="navbar__burger" id="burger" for="menu-toggle"></label>
  <ul class="navbar__menu" id="menu">
    <Navbar::MenuItem>Home</Navbar::MenuItem>
    <Navbar::MenuItem>Home</Navbar::MenuItem>
    <Navbar::MenuItem>Home</Navbar::MenuItem>
    <Navbar::MenuItem>Home</Navbar::MenuItem>
  </ul>
</div>