<progress class="progress-bar" value={{this.progressValue}} max="100" />

<div class="employee-info-container">
  <div class="employee-info-container__header">
    {{this.title}}
  </div>
  {{outlet}}
</div>